@font-face {
	font-family: Street_PersonalUseOnly;
	src:url(../fuentes/Street_PersonalUseOnly.ttf);
}

@font-face {
	font-family: CenturyGothicRegular;
	src:url(../fuentes/CenturyGothic/CenturyGothicRegular.ttf);
}

@font-face {
	font-family: Geosans;
	src:url(../fuentes/Geosans/Geosans.ttf);
}